DB_HOST=db
DB_PORT=5432
DB_NAME=sqlinjproject
DB_USER=sql_lab_user
DB_PASSWORD=changeme
DB_SSL=false

JWT_ALGS=HS256
JWT_SECRET=changeme
JWT_EXPIRATION=3600

ENTRA_TENANT_ID=your-tenant-id
JWT_ISSUER=https://sts.windows.net/your-tenant-id/
JWT_AUDIENCE=api://your-api-id

PORT=5001